<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to 'Поставщики', suppliers_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'SKU', skus_path, class: 'nav-link' %>
    </li>
  </ul>
</nav>
<%= flash[:notice] %>
<h3>Импорт данных</h3>
<div class="card">
  <div class="card-body">
    <%= form_tag suppliers_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag 'Импортировать поставщиков', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <%= form_tag skus_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag 'Импортировать SKU', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
