<%= link_to 'Вернуться на главную', root_path %>
<div class="container">
  <h2>Перечень SKU</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Код поставщика</th>
      <th>Название поставщика</th>
    </tr>
    </thead>
    <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.supplier_code %></td>
        <td><%= supplier.name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @suppliers %>
</div>
